
<h1> Welcome to Gmail</h1>
<h2> Your User name is: <%= @user.email %></h2> <br/> 

<%= link_to "Click here to Confirm ",active_user_user_path(@user.activation_code) %>
<%#= link_to "Click here to Confirm" + user.activation_code , users_url %>




