<! DOCTYPE  html >
<html>
  <head>
    <title>welcome <%= @user.name %> </title>
  </head>
  <body>
    <p>
      <h1>Welcome To Gmail</h1>
      <h2>your user name is <%= @user.email %> </h2>
    </p>
</body>
</html>