

<!DOCTYPE html>
<html>
  <head>
    <title>
      Welcome <%= @user.name %>
    </title>
  </head>
  <body>
    <p>

      <h1> Welcome to Gmail</h1>
      <h2> Your User name is: <%= @user.email %> <br/> </h2>
    


    <%=  link_to "Click here to Confirm", activate_user_user_url(@user.activation_code) %>
  </p>
</body>
</html>




