
<h1>Carts List</h1>
<div class="right1">

  <table border="1">
    <thead>
    <th>CartId</th>
    <th>UserName</th>
    </thead>
    <tbody>      
      <% @carts.each do |cart| %>
        <tr>
          <td><%= cart.id %> </td>
          <td><%= link_to cart.user ? cart.user.name : "NA", admin_user_path(cart.user_id)  %></td>
          <td><%= link_to "destroy", admin_cart_path(cart), :confirm => "Are you sure?", :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
<%= link_to "Back", admin_users_path %>

