<div class="right1">
<h2 style="color:brown"><u>Cart List</u></h2>
<table>
  <thead>
  <th>CartId</th>
  <th>UserId</th>
</thead>
<tbody>
  <% @carts.each do |cart| %>
    <tr>
      <td><%= cart.id %> </td>
      <td><%= cart.user_id %> </td>
    </tr>
  </tbody>
<% end %>

</table>
</div>
<%= link_to "Back", admin_users_path %>
