<h1>Carts List</h1>
<table border="1">
  <thead>
  <th>CartId</th>
  <th>UserId</th>
</thead>
<tbody>
  <% @carts.each do |cart| %>
    <tr>
      <td><%= cart.id %> </td>
      <td><%= cart.user_id %> </td>
    </tr>
  </tbody>
<% end %>

</table>
<%= link_to "Back", admin_users_path %>
