<div class="form">
  <table>
    <thead>
    <th>Mobile_Number</th>
    <th>Phone_Number</th>
    <th>Type</th>
    <th>Address</th>
    </thead>
    <tbody>
      <% @addresses.each do |ad| %>
        <tr>
          <td><%= ad.mobile_number %></td>
          <td><%= ad.phone_number %></td>
          <td><%= ad.adr_type %></td>
          <td><%= ad.address %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

</div>


