#container
{

    width: 100%;
}

div.top
{
    height:283px;
    background: #9c9;
    width: 100%;
}

div.text
{
    margin-top:150px;
    margin-right: 100px;
    float: left;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 21px;
    font-style: italic;
    text-align: left;
    font-weight: bold;
    color: #660033;
}

.sidebar{
    padding-top: 30px;
    background: #141;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    line-height: 70px;
    color: 	#ffffff;
    text-decoration: none;
    width:20%;
    float: left;
    margin-top: -2px;
}

.bottom {
    width: 100%;
    height:530px;

}

div  .right
{
    float:right;
    width:60%;
}

div.clear{
    clear: both;

}
ul.login {
    margin: -20px;
}


div.logo
{
    float: left;
    margin-left: 20px;
    margin-top:40px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 21px;
    text-align: left;
    font-weight: bold;
    color: #660033;
    font-style: italic;
    width: 11%;
}

div.login
{
    margin-top:180px;
    float:left;
    margin-left:2px;
}

div ul li
{
    color: 	#FFA500;
    font-size:20px;
    list-style-type: none;
}

div ul li a
{
    text-decoration:  none;
    color:	#FAFAD2;
}

.col2
{
    margin-left:300px;
}

.col3
{
    margin-left:500px;
}

.top
{
    margin-top:-2.6em;
}

ul li.product_image{
    width: 19%;
    height: 140px;
    border: 1px solid #ccc;
    float: left;
    margin: 10px;
}

div  .right1
{
    float:right;
    width:99%;
}

div  .right
{
    float:right;
    width:60%;
    margin-top: 37px;
}

button.buttons
{

    background: #9c9;
    margin-top:20px;
    width:110px;
    height:50px;

}

.buttons  a:visited
{
    background: #6B8E23;
}
.menu
{
    margin-top:30px;
    margin-left: 120px;

}

div.right1 ul.product_list li.product_image img{
    position :relative;
    top : 20px;
    left:43px
}

div.right1 ul.product_list li.product_image input{
    position: relative;
    left: 56px;
    top: 44px;
}
div.right1 ul.product_list li.product_image span{
    position: relative;
    top: 43px;
}
div.top div#welcome{
    margin-top: 171px;
    height: 40px;
}

div.top div#welcome h3{
    color:blue;
    font-size: 22px;
    font-family: 'Verdana';
    font-size: 27px;

}
div.top div#welcome a{
    font-size: 23px;
    font-family: 'Verdana';
    color:#FF0099;
    float:right;
    text-decoration: underline;
    position: relative;
    margin-right: 30px;

}

div#productdetails{
    width: 233px;
    float: left;
    margin-left: 40px;
    margin-top: 32px;
}
div#editform{
    float: left;
    margin-left: 35px;
}
div#editform h2{

}

div.right1 h2.list{
    width:150px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-left:10px;
    color:brown;
}


div.right1 h6{
    color: black;
    font-size: 12px;
    position: relative;
    bottom: 95px;
    margin-left: 950px;
}

div .form{
    margin-left: 30px;
    width: 300px;
    float: left;
    margin-top: 46px;
}

div .top1
{

    height:283px;
    background: #DAA520;
    width: 100%;

}

h2.loginform
{
    margin-top:1px;

}
div.right1 div#buttons{
    float: right;
    position: relative;
    bottom: 60px;
    right: 96px;
}
div.top   h1{
    text-align: center;
    position: relative;
    top: 43px;
    font-size: 50px;

}


div#container div.top1 div.rightheader h1{
    font-size: 56px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div#container div.top1 div.logo a{
    font-size: 25px;

}
div#container div.top1 div.logo h3{
    width: 250px;
}

div table a:visited{

  text-decoration: none;
     color:red;
}


