<div class="sidebar" >
  <ul  class="categories"> <%= "Categories" %>
    <% c = Category.find(:all)%>
    <% c.each do |category| %>
      <li><%= link_to category.name.capitalize , list_category_path(category.id) %></li>
    <% end  %>
  </ul>
</div>