<!DOCTYPE html>
<html>
  <head>
    <title>Productapp</title>
    <%= stylesheet_link_tag 'products' %>
  </head>
  <body>
    <div id="container">
      <%= render :partial => 'layouts/header' %>
      <div class="bottom"  >
        <%= render :partial => 'layouts/sidebar' %>
        <%=yield%>
      </div>
    </div>
  </body>
</html>
